.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.modal-content{
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 300px;
}
.regmodal-content{
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 300px;
}

.modal-content > input{
    display: block;
    margin-bottom: 10px;
}
.button-group{
    display: flex;
    gap: 5px;
}

.regmodal-content {
    display: none;  
    margin: 15% auto;
    padding: 20px;
    width: 300px;
}